.index_body {
  background-color: #dbe0e6;
}
.resume_body {
  background: url('../media/Resume_Background.jpg');
  /*background-repeat: repeat;
  background-size: 100%;*/
  background-size: cover;
  background-position: center center;
}

.UAE_body {
  background: url('../media/UAE_Background.jpg');
  /*background-repeat: repeat;
  background-size: 100%;*/
  background-size: cover;
  background-position: center center;
}
.index_content {
  /*background-color: #ffffff;*/
  overflow: auto;
  display: block;
  padding-bottom: 4em;
  font-size: 2em;
  font-family: 'Crimson Text', serif;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
img {
  width: 300px;
  height: 300px;
  float: left;
}
video {
  width: auto;
  height: auto;
}
.resume_content {
  /*background-color: #ffffff;*/
  overflow: hidden;
  display: block;
  padding-bottom: 4em;
  font-size: 2em;
  font-family: 'EB Garamond', serif;
}
.UAE_content {
  /*background-color: #ffffff;*/
  overflow: hidden;
  display: block;
  padding-bottom: 4em;
  font-size: 2em;
  font-family: 'Frank Ruhl Libre', serif; 
}
/*nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}
nav li{
  float: left;
}
nav li a {
  color: #55251d;
  text-align: center;
  padding: 14px 16px;
  font-size: 2.5em;
}
nav li a:hover {
  background-color: #441e17;
}
nav a.active{
	background-color: red;
}*/
.navbar {	
  background-color: #f2eaef; 
  height:48px;
  position: relative;
  margin: 12% 0% 0% 0%;
  top: 0; 
  width:100%; 
} 

.navbar a { 
  display: block; 
  text-align: center; 
  color: #000000; 
  padding: 10px 20px;
  font-family: 'EB Garamond', serif;
  font-size: 25px;
}

.navbar a:hover {
    transform : scale(1.2);
}

.navbar ul {
  margin:5px;
  text-align:center;
}

.navbar li {
  display: inline-block;
}
footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #514f50;
  color: #ffffff;
  text-align: center;
  height: 4em;
  font-size: 1em;
}

footer p a {
  color: #ffffff;
}

h1 {
  font-size: 5em;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  text-decoration: underline;
}

section {
  margin: 50px auto;
  align-items: center;
  border-radius: 5px 20px;
  background-color: #ede6e3 ;
  width: auto;
  padding: 10px 5px;
}
 #map {
  height: 500px; 
  width: 600px; 
  text-align: center;
}

